<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>am</string>
		<string>ar</string>
		<string>as</string>
		<string>az</string>
		<string>bg</string>
		<string>bm</string>
		<string>bn</string>
		<string>bs</string>
		<string>ce</string>
		<string>de</string>
		<string>dv</string>
		<string>en</string>
		<string>es</string>
		<string>fa</string>
		<string>fr</string>
		<string>gu</string>
		<string>ha</string>
		<string>he</string>
		<string>hi</string>
		<string>id</string>
		<string>it</string>
		<string>ja</string>
		<string>kk</string>
		<string>km</string>
		<string>kn</string>
		<string>ko</string>
		<string>ku</string>
		<string>lg</string>
		<string>ml</string>
		<string>mr</string>
		<string>mrw</string>
		<string>ms</string>
		<string>ne</string>
		<string>nl</string>
		<string>om</string>
		<string>pl</string>
		<string>prs</string>
		<string>ps</string>
		<string>pt</string>
		<string>ro</string>
		<string>ru</string>
		<string>rw</string>
		<string>sd</string>
		<string>si</string>
		<string>so</string>
		<string>sq</string>
		<string>sv</string>
		<string>sw</string>
		<string>ta</string>
		<string>te</string>
		<string>tg</string>
		<string>th</string>
		<string>tl</string>
		<string>tr</string>
		<string>ug</string>
		<string>uk</string>
		<string>ur</string>
		<string>uz</string>
		<string>vi</string>
		<string>yo</string>
		<string>zh</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
</dict>
</plist>
